
  .banner {
    background:white;
    height: 300px;
    // border-radius: 50px;

    border-bottom-right-radius: 150px;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);

    .banner-image {
      height: 200px;
    }

  }







ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

}

 a{
    text-decoration: none;
    color: black;
    text-align: center;

  }
 a:hover {
      color: black;
      opacity: 80%;
      transition: 0.5;

    }
.delete {
        opacity: 20%;
        color: black;
      }
.delete:hover {
        color: #ff1818;
      }
